@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  font-family: 'Poppins';
  color: #333;
}
button{
  cursor: pointer;
}
    /* navbar style start */
.nav{
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.nav h4{
  font-size: 24px;
  letter-spacing: 0.3em;
}
.nav input{
  border-radius: 4px;
  border: 2px solid #333;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
::placeholder {
  padding: 8px;
}

    /* navbar style end */

    /* Main content style start */
.maincontent {
  margin-top: 20px;
  margin-left: 30px;
}
.maincontent h2{
  color: #4b4b4b;
}
.card{
  margin: 20px 20px 10px 0px;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #868686;
  height: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms ease-in-out;
  word-wrap: break-word;
}
.card:hover{
  /* border: 4px solid #4b4b4b; */
  box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}
.card img{
  height: 70%;
}
.card h4{
  font-weight:bold;
  color: #171717;
  font-size: 22px;
}
.card p{
  font-size: 14px;
  color: #7b7b7b;
}
.card .btns{
  margin-top: 10px;
  display:  flex;
  justify-content: center;
}
.fav{
  border: 2px solid #4b4b4b;
  background-color: #e5e5e5;
  color: #4b4b4b;
  width: 40%;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buy{
  border: 2px solid #4b4b4b;
  background-color: #4b4b4b;
  width: 40%;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 3px;
}
.show{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}
::-webkit-scrollbar{
  height: 5px;
  width: 2px;
  background: #afaeae;
}
.heart{
  color: red !important;
}

.badge{
  position: absolute;
  display: flex;
  background-color: rgb(254, 53, 53);
  border-radius: 50px;
  font-size: 14px;
  width: 40px;
  height: 40px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.badge h5{
  color: #e0e0e0;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price h6{
  font-size: 16px;
  color: #4b4b4b;
  letter-spacing: 0.5px;
}


/* main content style ends */

/* tabs style start */
.tabs{
  display: flex;
  justify-content: center;
}
.tabs ul{
  display: flex;
  list-style: none;
  border: 2px solid #4b4b4b;
  /* padding: 12px; */
  padding: 0;
  border-radius: 2px;
}
.tabs ul li{  
  /* margin: 0px 8px; */
  cursor: pointer;
  background-color: #4b4b4b;
  padding: 4px 50px;
  color: #d8d8d8;
  transition: 200ms ease-in;
  font-weight: bold;
}
.tabs ul li:hover{  
  /* margin: 0px 8px; */
  background-color: #d8d8d8;
  text-decoration: underline;
  color: #4b4b4b;
}
.tabs ul a{
  text-decoration: none;
}
.active{
  background-color: #e5e5e5 !important;
  text-decoration: underline;
  color: #4b4b4b !important;
}