@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  font-family: 'Poppins';
  /* color: #333; */
}
body{
  background-color: #e7e7e7;
  background-image: url("/src/imgs/bg.jpg");
}
button{
  cursor: pointer;
}
    /* navbar style start */
.nav{
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.nav>a{
 text-decoration: none;
 color: #171717;
}

.nav>a>h4{
  font-size: 24px;
  letter-spacing: 0.3em;
}
::placeholder {
  padding: 8px;
}
.badgenumber{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #d01111;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  /* text-align: center; */
  top: 0;
  right: 0;
}
.badge-2{
  position: relative;
}

    /* navbar style end */

    /* Main content style start */
.maincontent {
  margin-top: 20px;
  margin-left: 30px;
}
/* .maincontent-2 {
  margin-top: 20px;
  text-align: center;
} */
.maincontent>h2{
  color: #000;
}
.card:nth-child(1){
  margin-left: 20px;
}
/* .show>a{
  text-decoration: none;
  cursor:auto;
} */
.card{
  position: relative;
  margin: 20px 20px 20px 0px;
  padding: 10px;
  border-radius: 3px;
  /* border: 3px solid #868686; */
  height: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms ease-in-out;
  word-wrap: break-word;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 2px 2px 1px rgba(0,0,0,0.3); */
}
.card:hover{
  /* border: 4px solid #4b4b4b; */
  /* box-shadow: 5px 5px 2px rgba(0,0,0,0.5); */
  scale: 1.04;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 25px 0 rgba(0, 0, 0, 0.29);
}
.card>a{
  height: 70%;
  width: 100%;
}
.card>a>img{
  height: 100%;
  width: 100%;
}
.card>h4{
  font-weight:bold;
  color: #171717;
  font-size: 22px;
}
.card p{
  font-size: 14px;
  color: #7b7b7b;
}
.card>.btns{
  margin-top: 10px;
  display:  flex;
  justify-content: space-around;
}
.fav{
  border: 2px solid #000;
  background-color: #e5e5e5;
  color: #4b4b4b;
  width: 48%;
  font-size: 14px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buy{
  border: 2px solid #000;
  background-color: #000;
  width: 48%;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.show{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.show-2{
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}
::-webkit-scrollbar{
  height: 5px;
  width: 2px;
  background: #afaeae;
}
.heart{
  color: red !important;
}

.badge{
  position: absolute;
  display: flex;
  background-color: rgb(254, 53, 53);
  /* border-radius: 50px; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 14px;
  width: 40px;
  height: 20px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  left: 0;
}
.badge>h5{
  color: #e0e0e0;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price>h6{
  font-size: 18px;
  color: #000;
  letter-spacing: 0.5px;
}


/* main content style ends */

/* tabs style start */
.tabs{
  display: flex;
  justify-content: center;
  
}
.tabs>ul{
  display: flex;
  list-style: none;
  /* border: 2px solid #000; */
  /* padding: 12px; */
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
  border-radius: 2px;
}
.tabs ul li{  
  /* margin: 0px 8px; */
  cursor: pointer;
  background-color: #353535;
  padding: 4px 50px;
  color: #d8d8d8;
  transition: 200ms ease-in;
  font-weight: bold;
}
.tabs ul li:hover{  
  /* margin: 0px 8px; */
  background-color: #d8d8d8;
  text-decoration: underline;
  color: #4b4b4b;
}
.tabs>ul>a{
  text-decoration: none;
}
.active{
  background-color: #e5e5e5 !important;
  text-decoration: underline;
  color: #4b4b4b !important;
}

.icons{
  width: 120px;
  display: flex;
  justify-content: space-around
}
.icon{
  padding: 8px;
  border-radius: 50px;
  background-color: white;
  margin: 5px;
  color: #000;
  font-size: 28px;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
  transition: transform .5s ease-in-out;
}
.icon:hover{
  transform: rotate(360deg);
  box-shadow: rgba(1, 1, 1, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
}

/* product page style start */
.product-page{
  margin: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.item-size{
  display: flex;
  margin-bottom: 10px;
}
.item-size>h5{
margin-right: 5px;
}
.product-page>img{
  max-width: 800px;
  max-height: 600px;
}
.product-details>h2{
  font-size: 32px;
  margin-bottom: 20px;
}
.product-details>p{
  color: #7b7b7b;
  font-size: 16px;
  margin-bottom:10px;
  line-height: 1.3;
}
.rating-icon{
  font-size: 16px;
  margin: 2px;
}
.original-price>span{
  color: #7b7b7b;
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 10px;
}
.original-price{
  font-size: 16px;
  font-weight: 600;

}
.extra-info{
  margin: 20px 10px;
}
.delivery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:2px solid #b0b0b0;
  margin-bottom: 15px;
  padding-bottom: 2px;
}
.delivery>h4{
  font-size: 16px;
}
.delivery>p{
  font-size: 14px;
  color: #7b7b7b;
}
.Total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
  padding-bottom: 2px;
}
.Total>h4{
  font-size: 16px;
}
.Total>p{
  font-size: 16px;
  font-weight: 700;
}
.btn-container{
  display: flex;
}
.buy-2{
  border: 2px solid #000;
  background-color: #000;
  color: white;
  padding: 10px 20px;
  margin: auto;
  font-size: 16px;
  border-radius: 3px;
  transition: 500ms;
}
.buy-2:hover{
  scale: 1.1;
}

/* product page style end */


/* carsoul :start */
.slider{
  padding: 10px;
  margin: 10px;
  width: 500px;
  height: 500px;
}
.maincontent-2{
  margin: 20px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro>h2{
  font-size: 34px;
  margin: 10px 0px;
}
.intro>p{
  color: #4b4b4b;
  font-size: 22px;
  margin-bottom: 10px;
}
.intro>button{
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  background-color: #000;
  color: #f4f4f4;
  font-size: 18px;
  /* margin-right: auto; */
}
.test{
  align-self: center;
  justify-self: end;
  width: 600px;
  /* height: 500px; */
}
.into-icon{
  font-size: 34px;
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}


/* cart style start  */
.shop{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.shop-2{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 50px;
}
.shop-2>h2{
  margin: 20px;
}
.cart-item{
  margin: 20px;
  background-color: #f8f5f5;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  grid-template-rows: 250px;
}
.cart-item:hover{
  box-shadow: rgba(1, 1, 1, 0.6) 0px 2px 4px 0px, rgba(0, 0, 0, 0.25) 0px 1px 5px 2px;
}
.cart-item>img{
  margin: 10px 10px 10px 0px;
  width: 100%;
  height: 90%;
}
.cart-details{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.cart-details>p{
  font-weight: 500;
  color: #7b7b7b;
  font-size: 16px;
  margin-bottom: 10px;
}
.options{
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.counter{
  margin-top: auto;
  display: flex;
  align-items: center;
}
.counter>h4{
  margin: 0px 10px;
  font-size: 18px;
  text-align: center;
}
.counter>button{
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 50px;
  background: #000;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 600;
}
.delete-icon{
  padding: 5px;
  border-radius: 50px;
  background-color: white;
  margin: 3px;
  color: #d01111;
  font-size: 24px;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
}
.payment-details{
  margin: 20px;
  border-radius: 5px;
  background-color: #f8f5f5;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
  display: flex;
  flex-direction: column;
}
.payment-details>h2{
  padding: 10px;
  border-bottom:2px solid #171717;
  font-size: 22px;
  margin-bottom: 10px;
  
}
.payment-details>.row{
  padding: 8px;
  display:flex;
  margin: 4px 8px;
  justify-content: space-between;
  border-bottom:1px solid #b0b0b0;
}
.payment-details>.row:hover{
  border-bottom:2px solid #8c8c8c;
}
.row>h6{
  font-size: 18px;
}
.row>p{
  font-size: 14px;
  color: #7b7b7b;
  font-weight: 700;
}
.checkout-btn{
  border: none;
  background-color: #171717;
  color: #f8f5f5;
  font-size: 18px;
  padding:5px 20px;
  margin: 10px auto;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.checkout-btn:hover{
  scale: 1.1;
}
/* fave wishlist  */
.wishlist{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.wishlist>img{
  width: 90%;
  height: 70%;
}

.empty-cart{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.empty-cart>img{
  width: 50%;
  height: 70%;
}